<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>Информационная база данных</title>
</head>
<body>
<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/add" class="nav-link active" aria-current="page">Добавление данных</a></li>
        <li class="nav-item"><a href="/expected_parameters" class="nav-link">Режимы резания</a></li>
        <li class="nav-item"><a href="/materials" class="nav-link">Материалы</a></li>
        <li class="nav-item"><a href="/coatings" class="nav-link">Покрытия</a></li>
        <li class="nav-item"><a href="/tools" class="nav-link">Инструменты</a></li>
        <li class="nav-item"><a href="/adhesive" class="nav-link">Триботехнические свойства</a></li>
        <li class="nav-item"><a href="/experiments" class="nav-link">Эксперименты</a></li>
        <li class="nav-item"><a href="/" class="nav-link">Начальная страница</a></li>
      </ul>
    </header>
  </div>
{% block tittle %}
{% endblock %}
</body>
</html>