{% extends 'base.html' %}

{% block tittle %}
<style>
    h1 {
        font-size: 24px;
    }
</style>
<div class="container container-lg">
    <h1>Износостойкое покрытие</h1>
    <form method="POST">
        {{ coating_form.hidden_tag() }}
        <div class="form-group col-md">
            {{ coating_form.name.label(class="form-control-label") }}
            {{ coating_form.name(class="form-control", value= coating.name) }}
        </div>
        <div class="form-group col-md">
            {{ coating_form.material_coating.label(class="form-control-label") }}
            {{ coating_form.material_coating(class="form-control", value= coating.material_coating) }}
        </div>
        <div class="form-group col-md">
            {{ coating_form.type_application.label(class="form-control-label") }}
            {{ coating_form.type_application(class="form-control", value= coating.type_application) }}
        </div>
        <div class="form-group col-md">
            {{ coating_form.max_thickness.label(class="form-control-label") }}
            {{ coating_form.max_thickness(class="form-control", value= coating.max_thickness) }}
        </div>
        <div class="form-group col-md">
            {{ coating_form.nanohardness.label(class="form-control-label") }}
            {{ coating_form.nanohardness(class="form-control", value= coating.nano_hardness) }}
        </div>
        <div class="form-group col-md">
            {{ coating_form.temperature_resistance.label(class="form-control-label") }}
            {{ coating_form.temperature_resistance(class="form-control", value= coating.temperature_resistance) }}
        </div>
        <div class="form-group col-md">
            {{ coating_form.koefficient_friction.label(class="form-control-label") }}
            {{ coating_form.koefficient_friction(class="form-control", value= coating.coefficient_friction) }}
        </div>
        <div class="form-group col-md">
            {{ coating_form.color_coating.label(class="form-control-label") }}
            {{ coating_form.color_coating(class="form-control",  value = coating.color_coating) }}
        </div>
        <div class="col">
            {{ coating_form.submit(class="btn btn-success", value = "Изменить") }}
        </div>
    </form>
</div><br>

{% endblock %}