{% extends 'base.html' %}

{% block tittle %}
<div style="text-align: center; margin-bottom: 16px;">
    <h1>Выбор Материала и Инструмента</h1>
</div>

<form method="POST" action="/recommended_speed" style="margin: 20px auto; max-width: 400px; padding: 20px; border: 1px solid #ccc; border-radius: 10px;">
    <label for="material" style="font-size: 16px; color: #333; margin-bottom: 10px; display: block;">Materials:</label>
    <select name="material" id="material" style="font-size: 14px; padding: 10px; border: 1px solid #ccc; border-radius: 5px; width: 100%; margin-bottom: 20px;">
        {% for material in unique_materials %}
        <option value="{{ material.id }}">{{ material.name }}</option>
        {% endfor %}
    </select>

    <label for="tool" style="font-size: 16px; color: #333; margin-bottom: 10px; display: block;">Tool:</label>
    <select name="tool" id="tool" style="font-size: 14px; padding: 10px; border: 1px solid #ccc; border-radius: 5px; width: 100%; margin-bottom: 20px;">
        {% for tool in unique_tools %}
        <option value="{{ tool.id }}">{{tool.name}}, {{ tool.name_easy }}</option>
        {% endfor %}
    </select>

    <label for="coating" style="font-size: 16px; color: #333; margin-bottom: 10px; display: block;">Coating:</label>
    <select name="coating" id="coating" style="font-size: 14px; padding: 10px; border: 1px solid #ccc; border-radius: 5px; width: 100%; margin-bottom: 20px;">
        <option value = None></option>
        {% for coating in unique_coatings %}
        <option value="{{ coating.id }}">{{ coating.name }}</option>
        {% endfor %}
    </select>

    <input type="submit" value="Submit" style="font-size: 16px; padding: 10px 20px; background-color: #007aff; color: #fff; border: none; border-radius: 5px; cursor: pointer;">
</form>

<div style="text-align: center;">
    <a href="/recommended_speed" style="font-size: 16px; padding: 10px 20px; background-color: #007aff; color: #fff; border: none; border-radius: 5px; text-decoration: none; cursor: pointer;">Все рекомендуемые режимы</a>
</div>
{% endblock %}
