{% extends 'base.html' %}

{% block tittle %}
<style>
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 16px;
    }
    .materials-table {
        width: 100%; /* Ширина таблицы на 100% */
        border-collapse: collapse; /* Объединяем границы ячеек */
    }

    .materials-table th, .materials-table td {
        border: 1px solid #ccc; /* Границы ячеек и заголовков */
        padding: 8px; /* Отступы внутри ячеек */
    }

    .materials-table th {
        background-color: #f2f2f2; /* Цвет фона для заголовков */
    }
</style>
<div class="container mt-5">
    <h1> Рекомендуемые режимы </h1>
    <table class="materials-table">
        <thead>
            <tr>
                <th>Название материала</th>
                <th>Инструмент</th>
                <th>Покрытие</th>
                <th>Обороты шпинделя, об/мин</th>
                <th>Подача, мм/мин</th>
                <th>Шероховатость, HRC</th>
                <th>Наклеп, мм</th>
                <th>Стойкость, мин</th>
            </tr>
        </thead>
        <tbody>
            {% for i in recomended_speed %}
            <tr>
                <td><a href="/material/{{i.mat_info.id}}/info">{{ i.Material }}</a></td>
                <td><a href="/tool/{{i.tools_info.id}}/info">{{ i.Tool }}</a></td>
                <td><a href="/coating/{{i.coat_info.id}}/info">{{ i.Coating }}</a></td>
                <td>{{ i.SpindleSpeed }}</td>
                <td>{{ i.FeedTable }}</td>
                <td>{{ i.Roughness }}</td>
                <td>{{ i.Hardening }}</td>
                <td>{{ i.Durability }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

