{% extends 'base.html' %}

{% block tittle %}
<style>
    h1 {
        font-size: 24px;
    }
</style>
<div class="container mt-5">
    <h1>Режущий инстурмент</h1>
    <form method="post", class = row>
        <div class="col">
            <input type="text" name="Name5" id="Name5" value="{{tool.Name}}" class="form-control" placeholder="Название инструмента">
        </div>
        <div class="col">
            <input type="text" name="Name6" id="Name6" value="{{tool.MaterialTool}}" class="form-control" placeholder="Материал инструмента">
        </div>
        <div class="col">
            <input type="text" name="Name8" id="Name8" value="{{tool.NumberTeeth}}" class="form-control" placeholder="Количество зубьев">
        </div>
        <div class="col">
            <input type="text" name="Name9" id="Name9" value="{{tool.Diameter}}" class="form-control" placeholder="Диаметр фрезы">
        </div>
        <div class="col">
            <input type="submit" name = 'Button_3' class="btn btn-success" value="Подтвердить изменения">
        </div>
    </form>
</div><br>
{% endblock %}